[package]
name = "paru"
version = "2.0.4"
authors = ["morganamilo <morganamilo@archlinux.org>"]
edition = "2021"

description = "Feature packed AUR helper"
homepage = "https://github.com/Morganamilo/paru"
repository = "https://github.com/Morganamilo/paru"
documentation = "https://docs.rs/paru"
license = "GPL-3.0"
keywords = ["archlinux", "arch", "alpm", "pacman", "aur"]
include = ["src/**/*", "LICENSE", "README.md", "CHANGELOG.md", "help"]


[dependencies]
alpm = "4.0.0"
alpm-utils = "4.0.1"
aur-depends = "4.0.0"
aur-fetch = "0.11.2"
cini = "1.0.0"
pacmanconf = "3.0.0"
raur = "7.0.0"
srcinfo = "1.1.0"


ansi_term = "0.12.1"
anyhow = { version = "1.0.80", features = ["backtrace"] }
chrono = { version = "0.4.35", default-features = false, features = ["clock"] }
dirs = "5.0.1"
futures = "0.3.30"
globset = "0.4.14"
htmlescape = "0.3.1"
indicatif = "0.17.8"
scraper = "0.19.0"
nix = { version = "0.28.0", features = ["fs", "user"] }
reqwest = { version = "0.11.24", features = ["gzip", "socks"] }
rss = { version = "2.0.7", default-features = false }
serde = { version = "1.0.197", features = ["derive"] }
serde_json = "1.0.114"
smart-default = "0.7.1"
tempfile = "3.10.1"
terminal_size = "0.3.0"
tokio = { version = "1.36.0", features = [
    "process",
    "macros",
    "rt-multi-thread",
] }
url = "2.5.0"
env_logger = "0.11.3"
log = "0.4.21"
async-trait = { version = "0.1.77", optional = true }
tr = "0.1.7"
unicode-width = "0.1.11"
regex = "1.10.3"
signal-hook = "0.3.17"
once_cell = "1.19.0"
bitflags = "2.4.2"
toml = { version = "0.8.10", features = ["preserve_order"] }

[profile.release]
codegen-units = 1
lto = true

[features]
git = ["alpm/git", "alpm-utils/git", "aur-depends/git"]
backtrace = []
generate = ["alpm/generate"]
static = ["alpm/static"]
mock = ["async-trait"]
mock_chroot = ["mock"]
#default = ["git", "generate"]

[patch.crates-io]
#alpm = { path = "../alpm.rs/alpm" }
#alpm-utils = { path = "../alpm.rs/alpm-utils" }
alpm = { git = "https://github.com/archlinux/alpm.rs", rev = "306342" }
#alpm-utils = { git = "https://github.com/archlinux/alpm.rs", rev = "8da396" }
#aur-depends = { path = "../aur-depends" }
aur-depends = { git = "https://github.com/Morganamilo/aur-depends", rev = "30c2c1"}
#aur-fetch = { path = "../aur-fetch" }
