[package]
name = "paru"
version = "0.99.0"
authors = ["morganamilo <morganamilo@archlinux.org>"]
edition = "2018"


[dependencies]
cini = "0.1.1"
raur = "3.0.1"
raur-ext = "2.0.0"
aur-fetch = "0.7.1"
pacmanconf = "0.1.1"
alpm = "0.10.2"
alpm-utils = "0.3.1"
srcinfo = "1.0.0"
aur-depends = "0.6.0"

tokio = { version = "0.2.22", features = ["process", "macros"] }
ansi_term = "0.12.1"
chrono = "0.4.19"
atty = "0.2.14"
term_size = "0.3.2"
anyhow = "1.0.33"
dirs = "3.0.1"
url = "2.1.1"
smart-default = "0.6.0"
reqwest = "0.10.8"
libflate = "1.0.2"
serde = { version = "1.0.116", features = ["derive"] }
serde_json = "1.0.59"
futures = "0.3.6"
rss = "1.9.0"
htmlescape = "0.3.1"
indicatif = "0.15.0"
nix = "0.18.0"
once_cell = "1.4.1"

[build-dependencies]
alpm = "0.10.2"

[profile.release]
lto = true

[features]
git = ["alpm/git", "alpm-utils/git", "aur-depends/git"]
backtrace = []
generate = ["alpm/generate"]
